
[Unit]
Description=Coursero API
After=network.target

[Service]
Slice=coursero.slice
ExecStart=/usr/bin/python3 /usr/local/bin/submission_api.py
Restart=always
User=coursero

[Install]
WantedBy=multi-user.target

